<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.loginpageofrastreo">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"


        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.loginpageofrastreo.Main2Activity"></activity>
        <activity android:name="com.example.loginpageofrastreo.ApkInfoActivity" />
        <activity
            android:name="com.example.loginpageofrastreo.MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.loginpageofrastreo.LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name="com.example.loginpageofrastreo.SignUpActivity"
            android:theme="@style/AppTheme.Dark" />
        <receiver android:name="com.example.loginpageofrastreo.MyReciever">
            <intent-filter>
                <action android:name="com.example.loginpageofrastreo.MYACTION" />
                <action android:name="com.example.loginpageofrastreo.MYACTION2"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.example.loginpageofrastreo.BackgroundServices"
            android:enabled="true"
            tools:ignore="WrongManifestParent" />
    </application>

</manifest>